* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif; */
.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #145374;
  color: #f6f5f5;
  min-height: 100vh;
}

.header {
  padding: 50px;
}

.time-length-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.separator {
  border-right: dashed 1px #ee6f57;
  margin: 0 18px;
}

.break-container {
  margin-right: 8px;
}

.session-container {
  margin-left: 8px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  background: none;
  outline: none;
  border: none;
}

.btn:hover,
.btn:active {
  outline: none;
  cursor: pointer;
}

.btn i {
  font-size: 2.4rem;
  color: #ee6f57;
  padding: 2.5px;
}

.length {
  display: inline-block;
  padding: 6px;
  font-size: 2.5rem;
  box-sizing: content-box;
  width: 48px;
}

.counter-container {
  max-width: 260px;
  margin: 0 auto;
  border: solid 8px #00334e;
  border-radius: 18px;
  margin-bottom: 25px;
}

.session {
  width: 100%;
  padding: 11px 0px;
  color: #ee6f57;
  background-color: #00334e;
  box-sizing: content-box;
  font-size: 1.8rem;
}

.time {
  padding: 15px;
  font-family: 'Orbitron', sans-serif;
  max-width: 245px;
  font-size: 3rem;
}

.counting-time {
  display: inline-block;
  width: 80px;
}

.counting-colon {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.controller-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 2rem;
  box-sizing: content-box;

}

.controller {
  padding: 12px;
  background-color: #00334e;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.start-stop {
  margin-right: 20px;
}

.reset {
  margin-left: 20px;
}

.controller:hover {
  cursor: pointer;
  background-color: #ee6f57;
  color: #00334e;
}

.footer {
  border-top: 1px solid #ee6f57;
  padding: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 400px) {

  .btn i {
    padding: 1px;
    font-size: 2.15rem;
  }

  .footer {
    margin-top: 100px;
    position: relative;
  }
}